<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jstudio.fallDetector">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_directions_walk_black_24px"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FallActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SQLiteActivity"
            android:label="@string/title_activity_sqlite"
            android:launchMode="singleTask"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>